################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Programacion1lab/SistemaFacturacion/SistemaFacturacion/SistemaFacturacion.csproj
/Programacion1lab/SistemaFacturacion/SistemaFacturacion/SistemaFacturacion.csproj
/Programacion1lab/SistemaFacturacion/SistemaFacturacion/SistemaFacturacion.csproj
